$toolbar-extension-height: 40px;
$toolbar-mobile-height: 55px;
$toolbar-mobile-top-margin: 50px;
$toolbar-tablet-height: 30px;

.calendar-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.fc-button-primary {
  border: 0;
  background: transparent;

  &:hover {
    background: transparent;
  }

  &:active {
    color: initial !important;
    background-color: initial !important;
    border-color: initial !important;
  }
}

.fc-button:focus {
  box-shadow: none;
}

.fc-time-grid .fc-slats td {
  border-left-color: #FFF;
}

td.fc-axis.fc-time.fc-widget-content {
  position: relative;
  border: 0;

  & span {
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    background: #FFF;
    top: -6px;
    width: 40px;
    display: block;
    text-align: center;
  }
}

.fc {
  margin-top: 50px;

  h2 {
    font-size: 14px;
  }
}

.fc-scroller tr:first-child .fc-axis span {
  display: none !important;
}

.fc-time-grid-event {
  max-width: 400px;
  
  span {
    display: block;
  }

  &.block  {

    span {
      display: inline;
    }

    a {
      margin-left: 10px;
    }
  }
}

.fc-unthemed td.fc-today {
  background: transparent;
}

.fc-time-grid .fc-slats .fc-minor td {
  border-top: 0;
}

th.fc-day-header.fc-widget-header {
  display: none;
}

.fc-time-grid-event {
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
  padding: 2px 3px;
  border-left: solid 3px #73626E !important;
  cursor: pointer;
}

.fc-button-primary {
  letter-spacing: $letter-spacing-xs;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;

  &.fc-blockButton-button, &.fc-hoursButton-button {
    font-size: 12px;
    color: $plum;
    position: relative;
    padding-top: 8px;
  }
}

.fc-today-button {
  background: initial !important;
  border: 0;
  border-radius: 0;
  padding-top: 8px;
  color: $blush;

  &:disabled, &:hover, &:active, &:focus {
    color: $blush;
    outline: 0;
  }
}

fc-axis fc-widget-header {
  border: 0;
}

.fc-status {
  position: absolute;
  text-transform: capitalize;
  right: 5px;
  top: 0;
}

.block .fc-time {
  display: none;
}

.block {
  border: 0 !important;
  background: transparentize($eggplant, 0.75);
  border-radius: 0;
  box-shadow: none;
}

.fc-bgevent {
  background: transparentize($eggplant, 0.75);
  opacity: 1;
  padding: 10px;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.5px;
  line-height: 0.5px;

  a {
    padding-left: 10px;
    text-decoration: underline;
    cursor: pointer;
  }

  // &:not(.fc-nonbusiness) {
  //   border-radius: 5px;
  //   position: relative;
  // }
}

.fc-toolbar.fc-header-toolbar {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $toolbar-extension-height;

  .fc-left {
    margin-bottom: 10px;

    @include for-tablet-up {
      margin-bottom: 0;
    }
  }

  @include for-tablet-up {
    flex-direction: row;
  }
}

.fc-toolbar__extension {
  height: $toolbar-extension-height;
  position: absolute;
  width: 100%;
  top: $toolbar-mobile-height + $toolbar-mobile-top-margin;

  .extension-container {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    cursor: pointer;

    span + span {
      margin-left: 6px;
    }
  }

  & * {
    font-size: 13px;
  }

  label {
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-xs;
    font-weight: 900;
  }

  select {
    border: 0;
    font-weight: 400;
  }

  button {
    visibility: hidden;
  }

  @media (max-width: 350px) {
    & * {
      font-size: 10px;
    }
  }

  @include for-tablet-up {
    top: $toolbar-tablet-height + $toolbar-mobile-top-margin;

    .extension-container {
      justify-content: flex-end;

      & > div {
        margin-left: 10px;
      }
    }
  }
}

.fc-short .fc-time {
    display: none;
}

.dropdown-container {
  position: absolute;
  left: 0;
  top: 50px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  z-index: 5;

  @include for-tablet-up {
    right: 0;
    left: auto;
  }
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  z-index: 2;
  width: 100%;
  background: #FFF;

  label {
    display: block;
    text-align: left;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.5px;

    @include for-tablet-up {
      margin: 20px 0 10px;
    }
  }

  button {
    padding: 5px 10px;
    margin: 20px 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-xs;
    font-weight: 900;
    font-size: 12px;
    cursor: pointer;
  }

  select {
    width: auto;
    border: 0;

    &:focus {
      outline: none !important;
    }
  }

  input[type='checkbox'] {
    margin: 0;
    width: 22px;
    float: left;
  }

  input + label {
    width: auto;
    margin: 0 0 0 10px;
    font-size: 12px;
    float: left;
    height: 22px;
    line-height: 22px;
    text-transform: none;
  }
}

.dropdown-select__container {
  &:first-child {
    margin-bottom: 10px;
  }

  @include for-tablet-up {
    text-align: left;
  }
}

.dropdown-set {
  display: flex;

  .button {
    margin: 0;
    height: 32px;
  }
}

.dropdown-select__container + .dropdown-select__container {
  margin-left: 15px;
}

.dropdown .select-container {
  display: inline-flex;
  align-items: center;
  border: solid 1px black;
  width: auto;

  p {
    position: initial !important;
    margin: 0px 5px !important;
  }
}

.close {
  align-self: flex-start;
  position: absolute;
  left: 15px;
  top: 15px;
  cursor: pointer;
}
