@font-face {
  font-family: 'bebas_neuebold';
  src: url('/bebas-neue-kit/bebasneue-bold-webfont.woff2') format('woff2'),
  url('/bebas-neue-kit/bebasneue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Nunito:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abhaya+Libre:wght@400;700&display=swap');

// $bebas-bold: 'bebas_neuebold';
$bebas-bold: 'Abhaya Libre', serif;
$nunito: 'Nunito', sans-serif;
$playfair-bold: 'Playfair Display', serif;


// Text Styles
$letter-spacing-xxs: normal;
$letter-spacing-xs: 1.5px;
$letter-spacing-s: 3px;
$letter-spacing-m: 5px;
$letter-spacing-l: 8px;

@mixin nunito {
  font-family: $nunito;
  font-weight: 400;
}

@mixin nunito-bold {
  font-family: $nunito;
  font-weight: 900;
}

@mixin playfair-bold {
  font-family: $nunito;
  font-weight: 900;
}

@mixin playfair {
  font-family: $nunito;
  font-weight: 400;
}

@mixin small-header {
  @include nunito-bold;
  font-size: 14px;
  letter-spacing: $letter-spacing-xs;
  text-transform: uppercase;
}

@mixin underline-header {
  @include small-header;
  position: relative;
  display: inline-block;
  position: relative;
  width: auto;
  padding-bottom: 3px;

  &:after {
    position: absolute;
    width: calc(100% - #{$letter-spacing-xs});
    // bottom: -2px;
    // left: 0;
    // content: '';
    // border-bottom: solid 3px $linen;
    bottom: 0;
    left: 5px;
    content: '';
    border-bottom: solid 10px transparentize($linen, 0.3);
    z-index: -1;
  }
}

p, input, div, button, h2, h3, ul, li {
  font-family: $nunito;
}
