@font-face {
  font-family: 'bebas_neuebold';
  src: url('/bebas-neue-kit/bebasneue-bold-webfont.woff2') format('woff2'),
  url('/bebas-neue-kit/bebasneue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i&display=swap');

$bebas-bold: 'bebas_neuebold';
$lato: 'Lato', sans-serif;
$playfair-bold: 'Playfair Display', serif;

@mixin playfair-bold {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

@mixin playfair {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
