$form-padding: 30px;
$form-item-width: calc(100% - #{$form-padding * 2});


input {
  border: 0;
  border-radius: 0;
  border-bottom: solid 1px lighten($plum, 50%);
  width: $form-item-width;
  padding: 0 0 10px 10px;
  margin: 10px auto 0;
  letter-spacing: $letter-spacing-s;
  background-color: transparent;

  &.email {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
  }

  &[type='number'] {
    width: 50px;
    margin: 0;
  }
}

.terms {
  margin: 20px 0 0;
  padding: 10px;

  span {
    display: inline-block;
    padding-left: 40px;
  }
}

.box {
  width: 20px;
  height: 20px;
  border: solid 2px $plum;
  position: absolute;
}

form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  p {
    margin: 0 $form-padding;
  }

  label {
    width: $form-item-width;
    font-style: italic;
    display: block;
    margin: 15px auto;
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .button,
  .button-container {
    margin: 20px auto;
  }
}

.invalid-feedback {
  margin: $form-padding;
  font-family: 'system-ui';
  font-size: 12px;
  color: red;
  width: $form-item-width;
}

p.dollar-prefix {
  display: flex;
  align-items: center;
  margin: 0 0 0 $form-padding;
}

p.hour-suffix {
  margin-left: 0;
}

.expertise-tags {
  display: flex;
  width: $form-item-width;
  margin: 0 $form-padding;
  flex-wrap: wrap;

  li {
    background-color: $moss;
    margin: 0 10px 10px;
    padding: 10px;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: #C0C0C0;
    }

    &.selected {
      background-color: $moss;
    }
  }
}

form {
  &#login {
    margin-top: 50px;
  }

  h2, h3 {
    width: $form-item-width;
    margin: $form-padding;
  }
}

#signup {
  margin: 30px auto;
}
