$form-padding: 30px;
$form-item-width: calc(100% - #{$form-padding * 2});

input {
  border-radius: 0;
  border: 0;
  border-bottom: solid 1px lighten($moss, 10%);
  width: $form-item-width;
  padding: 10px;
  margin: 0 auto 15px;
  background-color: transparent;

  &::-webkit-input-placeholder,
  &::placeholder {
    font-size: 12px;
    letter-spacing: $letter-spacing-s;
  }

  .moss-background & {
    background-color: $moss;
    padding: 10px;
    margin-bottom: 10px;
    border: 0;

    &::-webkit-input-placeholder {
      color: white;
    }
  }

  &.email {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
  }

  &[type='number'] {
    font-size: 1rem;
    padding: 10px 0 10px 10px;
    width: 50px;
    margin: 0;
  }

  &#single {
    width: auto;
    background-color: $linen;
    padding: 10px;
    border: 0;
    margin: 14px 0;
  }
}

select {
  @include nunito;
}

.select-container {
  width: 100%;
  position: relative;

  p {
    position: absolute;
    right: -20px;
    top: 8px;
  }
}

.terms {
  @include nunito;
  margin: 20px 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  span {
    width: calc(100% - 60px);
  }
}

.box {
  width: 20px;
  height: 20px;
  border: solid 2px $plum;
  display: inline-block;
  margin-right: 10px;
}

form {
  margin: 70px auto 0;
  display: flex;
  flex-wrap: wrap;

  .center & {
    max-width: 500px;
  }

  .noLabel + & {
    margin-top: 0;
  }

  p {
    margin: 0 $form-padding;
  }

  label {
    font-family: $bebas-bold;
    width: $form-item-width;
    display: block;
    margin: 15px auto;

    &.attachment {
      width: auto;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .button,
  .button-container {
    margin: 20px auto;
  }
}

.invalid-feedback {
  margin: $form-padding;
  font-family: 'system-ui';
  font-size: 12px;
  color: red;
  width: $form-item-width;
}

p.dollar-prefix {
  display: flex;
  align-items: center;
  margin: 0 0 0 $form-padding;
}

p.hour-suffix {
  margin-left: 5px;
  line-height: 3;
}

.expertise-tags {
  display: flex;
  width: $form-item-width;
  margin: 0 $form-padding;
  flex-wrap: wrap;

  li {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 5px 10px;
    padding: 10px;
    border-radius: 5px;
    color: lighten($eggplant, 30%);
    border: solid 1px lighten($eggplant, 30%);
    transition: background-color 0.5s ease;
    letter-spacing: $letter-spacing-xs;

    &:hover {
      border-color: $eggplant;
      color: $eggplant;
    }

    &.selected {
      background-color: $eggplant;
      border-color: $eggplant;
      color: #FFF;
    }
  }
}

form {
  &#login {
    margin-top: 50px;
  }

  h2, h3 {
    width: $form-item-width;
    margin: $form-padding;
  }
}

#signup {
  margin: 30px auto;
}

.session-attachments {
  display: flex;
  flex-direction: column;
}
