body * {
  color: $plum;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: $bebas-bold;
  font-size: 34px;
  text-align: center;

  @include for-tablet-portrait-up {
    font-size: 46px;
  }
}

h2 {
  font-size: 19px;
  width: 100%;
}

h3 {
  text-transform: uppercase;
  margin: 30px 0;
  font-size: 14px;
  width: 100%;
}

h4 {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-xs;
}

// Funky Headings
.heading-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  display: inline-flex;
  align-items: center;

  &.left {
    justify-content: flex-start;
    flex-direction: row-reverse;

    h1 {
      font-family: $bebas-bold;
      padding-left: 10px;
    }
  }

  &.center {
    height: auto;
    width: auto;
  }

  &.right {
    justify-content: flex-end;
    padding-left: 10%;

    h1 {
      padding-right: 10px;
    }
  }

  & + div {
    margin-top: 110px;
  }
}
