h1 {
  font-family: $bebas-bold;
  font-size: 40px;
  text-align: center;

  @include for-tablet-portrait-up {
    font-size: 48px;
  }
}

h2 {
  font-family: Helvetica;
  font-size: 26px;
  width: 100%;
}

h3 {
  font-family: Helvetica;
  text-transform: uppercase;
  margin: 30px 0;
  font-size: 14px;
  width: 100%;
}

// Funky Headings
.heading-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  display: inline-flex;
  align-items: center;

  &.left {
    justify-content: flex-start;
    flex-direction: row-reverse;

    h1 {
      font-family: $bebas-bold;
      padding-left: 10px;
    }
  }

  &.center {
    height: auto;
  }

  &.right {
    justify-content: flex-end;
    padding-left: 10%;

    h1 {
      padding-right: 10px;
    }
  }

  .line {
    height: 5px;
    background-color: $linen;
    flex: 1;
  }

  & + div {
    margin-top: 80px;
  }
}
