.how-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  background-color: $moss-background;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 150px;
  padding-bottom: 80px;

  .hero-container + & {
    padding-top: 80px;
  }

  .how-container + & {
    padding-top: 10px;
  }

  .how-list {
    width: 100%;
    display: flex;
    flex-direction: column;

     li {
       padding: 30px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;

       img {
         width: calc(100% - 60px);
         margin-bottom: 20px;
       }
     }

     @include for-tablet-up {
       flex-direction: row;
       padding: 60px;
     }

     @include for-desktop-up {
       padding: 60px 160px;
     }
  }

  @include for-tablet-up {
    min-height: 40vh;
  }

  @include for-desktop-up {
    min-height: 100vh;
  }

  .how-button {
   @extend %action-button;
   font-size: 13px;
   color: #FFF;
   background: $eggplant;
   margin: 0 auto;
   width: auto;
   display: inline-block;

   &:hover {
     background: $plum;
   }
  }
}
