.how-container {
  position: relative;
  padding: 15px;
  width: 100%;
  height: 100vh;
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  .heading-container {
    top: 30px;
  }

   h1 {
     font-family: $bebas-bold;
     color: $plum;
     // margin: 20px 0;
     // width: auto;
     // text-align: center;
     // position: relative;
   }

   .how-button {
     font-family: $bebas-bold;
     letter-spacing: 3.5px;
     font-size: 22px;
     color: #FFF;
     text-decoration: none;
     padding: 10px 15px;
     background: $eggplant;
     margin: 0 auto;
     width: auto;
     display: inline-block;

     &:hover {
       background: $plum;
     }
   }

   .how-things-container {
     width: 100%;
     display: flex;
     flex-direction: column;
   }

   .how-things {
     display: flex;
     flex-direction: column;
     font-size: 18px;
     margin: 10px 30px;
     justify-content: center;
   }

   .how-image {
     img {
       width: 50%;
       margin: 0 auto;
       display: block;
     }
   }

  .thing1, .thing2, .thing3 {
    font-family: $lato;
    margin-bottom: 40px;
    z-index: 1;
    position: relative;

    &:before {
      width: 30px;
      height: 30px;
      z-index: -1;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: $blush;
      background-color: $moss;
      border-radius: 50%;
      display: flex;
    }
  }

  .thing2 {
    text-align: right;
  }

  .thing1:before {
    content: '1';
    top: -20px;
    left: -20px;
  }

  .thing2:before {
    content: '2';
    top: -20px;
    right: -13px;
  }

  .thing3:before {
    content: '3';
    top: -20px;
    left: -20px;
  }

  @include for-tablet-portrait-up {
    padding: 30px;

    .how-things-container {
      flex-direction: row;
    }
  }
}
