.how-container {
  position: relative;
  padding: 30px;
  width: 100%;
  background: #FFF;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  .heading-container {
    top: 30px;
  }

   h1 {
     font-family: $bebas-bold;
     color: $plum;
     // margin: 20px 0;
     // width: auto;
     // text-align: center;
     // position: relative;
   }

   .how-button {
     font-family: $bebas-bold;
     letter-spacing: 3.5px;
     font-size: 22px;
     color: #FFF;
     text-decoration: none;
     padding: 10px 15px;
     background: $eggplant;
     margin: 0 auto;
     width: auto;
     display: inline-block;

     &:hover {
       background: $plum;
     }
   }

   .how-things-container {
     width: 100%;
     display: flex;
     flex-direction: column;
     margin-bottom: 50px;

     @include for-desktop-up {
       width: 75%;
       margin-left: calc(25% / 2);
       margin-right: calc(25% / 2);
     }
   }

   .how-things {
     display: flex;
     width: 100%;
     flex-direction: column;
     font-size: 18px;
     justify-content: center;
   }

   .how-image {
    width: 50vw;
    height: 50vw;
    background: gray;
    margin: 0 auto 20px;

    @include for-tablet-portrait-up {
      width: 200px;
      height: 200px;
      margin: 0 40px 0 0;
    }
   }

   .thing-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

     @include for-tablet-portrait-up {
       flex-direction: row;

       &:nth-child(2) .how-image {
         order: 2;
         margin-left: 30px;
         margin-right: 0;
       }
     }
   }

  .thing1, .thing2, .thing3 {
    @include playfair;
    margin-bottom: 40px;
    z-index: 1;
    position: relative;
    font-size: 22px;
    line-height: 1.25;

    &:before {
      font-family: $bebas-bold;
      width: 30px;
      height: 30px;
      z-index: -1;
      align-items: center;
      justify-content: center;
      position: absolute;
      color: $blush;
      background-color: $peach;
      border-radius: 50%;
      display: flex;
    }
  }

  .thing2 {
    text-align: right;
  }

  .thing1:before {
    content: '1';
    top: -20px;
    left: -20px;
  }

  .thing2:before {
    content: '2';
    top: -20px;
    right: -13px;
  }

  .thing3:before {
    content: '3';
    top: -20px;
    left: -20px;
  }

  @include for-tablet-portrait-up {
    padding: 30px;

    .how-things-container {
      flex-direction: row;
    }
  }
}
