.image-uploader {
  position: relative;
  width: 168px;
  height: 168px;
  margin: 0 auto 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $linen;
  border-radius: 50%;

  .fade-in {
    overflow: hidden;
    width: 168px;
    height: 168px;
  }

  .placeholder {
    background-image: url('/img/Blowdryer.svg');
    background-repeat: no-repeat;
    background-position: 50%;
  }

  label {
    display: inline-flex;
    width: 168px;
    margin: 0 auto;
    background: $moss;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }

  .delete {
    position: absolute;
    left: 3px;
    top: 3px;
  }

  .error-message {
    position: absolute;
    text-align: center;
    padding: 10px;
  }
}
