.image-uploader {
  width: 168px;
  height: 168px;
  margin: 0 auto 10px;
  background-color: $linen;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .fade-in {
    overflow: hidden;
    width: 168px;
    height: 168px;
    border-radius: 50%;
  }

  .placeholder {
    background-image: url('/img/logo_abbr.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70px;
  }

  label {
    display: inline-flex;
    width: 168px;
    margin: 0 auto;
    background: $moss;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: absolute;
    bottom: -60px;
  }

  .delete {
    position: absolute;
    left: 3px;
    top: 3px;
  }

  .error-message {
    position: absolute;
    text-align: center;
    padding: 10px;
  }
}
