$list-margin-mobile: 5px;
$list-margin-tablet: 10px;
$list-margin-desktop: 15px;

.artist-list {
  min-height: 100vh;

  ul {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    display: flex;
    width: 430px;
    align-items: flex-start;
    margin: $list-margin-mobile;
    background-color: #FFF;
    cursor: pointer;
    height: 150px;

      &:hover {
        opacity: 0.75;
      }
    }

    .artist-image {
      width: 125px;
      height: 100%;
      flex-shrink: 0;
    }

    h1 {
      margin-bottom: 30px;
    }

    .artist-metadata {
      align-self: flex-start;
      padding: 10px 15px 10px;
    }

    .artist-expertise {
      @include nunito-bold;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: $letter-spacing-s;
      line-height: 1.5;
      color: darken($peach, 10%);
    }

    .hourly-rate {
      font-family: $bebas-bold;
      font-size: 21px;
    }

    .display-name {
      font-family: $bebas-bold;
      font-size: 21px;
      font-weight: 400;

      @include for-desktop-up {
        font-size: 26px;
      }
    }

    .small-button-border {
      display: inline-block;
      margin-top: 10px;
    }

    p {
      margin: 5px 0 10px;
    }

    span {
      text-transform: capitalize;
    }

    @include for-tablet-up {
      ul {
        padding-top: 10px;
        align-items: stretch;
      }

      li {
        display: flex;
        align-items: center;
        max-width: calc(50% - (#{$list-margin-tablet} * 2));
        height: 175px;
        margin: $list-margin-tablet;
      }

      .artist-metadata {
        padding: 20px;
      }

      .artist-image {
        width: 150px;
        margin: 0;
      }
    }

    @include for-desktop-up {
      li {
        max-width: 450px;
        padding: 0;
        margin: $list-margin-desktop;
      }

      .artist-image {
        width: 175px;
      }
    }
  }
