.modal {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  background: white;
  justify-content: center;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  overflow: scroll;

  h2 {
    font-size: 1rem;
    margin: 20px 0;
  }

  .modal-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    margin: 0 auto;

    @include for-desktop-up {
      max-width: 900px;
    }

    &.default {
      @include for-desktop-up {
        max-width: 50%;
      }
    }

    h1 {
      margin: 0 0 50px;
    }

    .confirm-approval input {
      width: auto;
      margin: 0 10px 10px 0;
    }
  }

  .center-modal {
    margin: 60px 20px 0;

    @media (min-width: 768px) {
      margin: 60px auto;
      width: 80%;

      form {
        max-width: 400px;
      }
    }

    @media (min-width: 1024px) {
      width: 50%;
    }
  }

  .modal-messages {
    border: solid 1px black;
    height: 150px;
    padding: 10px;
    overflow: scroll;
    margin-bottom: 15px;
  }

  #time-display {
    display: inline-block;
  }

  .modal-content p {
    margin-bottom: 10px;
  }

  .session-scheduler {
    margin: 10px 0 20px;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .close {
    align-self: flex-end;
    z-index: 1;
    cursor: pointer;
  }

  .react-datepicker-wrapper {
    width: 100%;
  }

  .react-datepicker__input-container {
    width: 100%;
  }

  select {
    width: 100%;
    height: 30px;
    border: solid 1px $moss;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 8px;
    background-color: transparent;
  }

  textarea {
    @include nunito;
    width: 100%;
    height: 100px;
    border: solid 1px $moss;
    padding: 10px;
  }

  .submitted {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin: 5px 0;
    }

    b {
      font-weight: bold;
    }
  }
}

.loading {
  display: flex;
  height: 100%;
  align-items: center;
}

.congrats-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.rdt input {
  font-size: 8px;
  width: 100%;

  @include for-tablet-up {
    font-size: 14px;
  }
}

.rdt td {
  padding: 5px !important;
}

.rdtPicker td.rdtActive {
  background-color: $peach !important;
}

.rdtPicker td.rdtToday:before {
  border-bottom-color: $peach !important;
}

.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background-color: lighten($peach, 5%) !important;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  line-height: 1.125em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: red;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #969696;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.react-clock {
  display: block;
  position: relative;
}
.react-clock,
.react-clock *,
.react-clock *:before,
.react-clock *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-clock__face {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  border-radius: 50%;
}
.react-clock__hand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.react-clock__hand__body {
  position: absolute;
  background-color: black;
  transform: translateX(-50%);
}
.react-clock__mark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 50%;
}
.react-clock__mark__body {
  position: absolute;
  background-color: black;
  transform: translateX(-50%);
}
.react-clock__mark__number {
  position: absolute;
  left: -40px;
  width: 80px;
  text-align: center;
}
.react-clock__second-hand__body {
  background-color: red;
}

.react-datetimerange-picker {
  display: inline-flex;
  position: relative;

  input {
    margin: 0;
  }
}

.react-datetimerange-picker,
.react-datetimerange-picker *,
.react-datetimerange-picker *:before,
.react-datetimerange-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-datetimerange-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}
.react-datetimerange-picker__wrapper {
  display: flex;
  border: thin solid gray;
  align-items: center;
}

.react-datetimerange-picker__inputGroup {
  min-width: calc(4px + (4px * 3) + 0.54em * 6 + 0.217em * 2);
  flex-grow: 1;
  display: flex;
  padding: 0 2px;
  align-items: baseline;
}
.react-datetimerange-picker__inputGroup__divider {
  padding: 1px 0;
}
.react-datetimerange-picker__inputGroup__input {
  min-width: 0.54em;
  height: calc(100% - 2px);
  position: relative;
  padding: 1px;
  border: 0;
  background: none;
  font: inherit;
  box-sizing: content-box;
  -moz-appearance: textfield;
}
.react-datetimerange-picker__inputGroup__input::-webkit-outer-spin-button,
.react-datetimerange-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-datetimerange-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-datetimerange-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}
.react-datetimerange-picker__inputGroup__amPm {
  font: inherit;
  -moz-appearance: menulist;
}
.react-datetimerange-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}
.react-datetimerange-picker__button:enabled {
  cursor: pointer;
}
.react-datetimerange-picker__button:enabled:hover svg g,
.react-datetimerange-picker__button:enabled:focus svg g {
  stroke: #0078d7;
}
.react-datetimerange-picker__button:disabled svg g {
  stroke: #6d6d6d;
}
.react-datetimerange-picker__button svg {
  display: inherit;
}
.react-datetimerange-picker__calendar,
.react-datetimerange-picker__clock {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}
.react-datetimerange-picker__calendar--closed,
.react-datetimerange-picker__clock--closed {
  display: none;
}
.react-datetimerange-picker__calendar {
  width: 350px;
  max-width: 100vw;
}
.react-datetimerange-picker__calendar .react-calendar {
  border-width: thin;
}
.react-datetimerange-picker__clock {
  width: 200px;
  height: 200px;
  max-width: 100vw;
  padding: 25px;
  background-color: white;
  border: thin solid #a0a096;
}

.react-clock {
  background-color: white;
  border-radius: 50%;
}
.react-clock__face {
  border: 3px solid white;
}
.react-clock__second-hand {
  transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
}
.react-clock__second-hand__body:before {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  background-color: red;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.react-clock__second-hand__body:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: red;
  border-radius: 50%;
  transform: translateX(-50%);
}
.react-datetimerange-picker * {
  font-family: inherit;
}
.react-datetimerange-picker--closed {
  border-radius: 4px;
}
.react-datetimerange-picker--closed .react-datetimerange-picker__wrapper {
  border-radius: 4px;
}
.react-datetimerange-picker--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-datetimerange-picker--open .react-datetimerange-picker__wrapper {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.react-datetimerange-picker__wrapper {
  background: white;
  border: 0;
  border-radius: 4px;
  font-size: 1.25em;
}
.react-datetimerange-picker__inputGroup {
  min-width: calc(4px + (4px * 3) +  0.54em * 8  +  0.217em * 2);
  flex-grow: 1;
  display: flex;
  padding: 2px;
  align-items: baseline;
}
.react-datetimerange-picker__inputGroup__divider {
  padding: 1px;
}
.react-datetimerange-picker__inputGroup__input {
  -moz-appearance: textfield;
}
.react-datetimerange-picker__inputGroup__input::-webkit-outer-spin-button,
.react-datetimerange-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-datetimerange-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}
.react-datetimerange-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px +  0.54em);
}
.react-datetimerange-picker__calendar {
  border-radius: 4px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  border-top-left-radius: 0 !important;
}
.react-datetimerange-picker__calendar .react-calendar {
  border-top-left-radius: 0 !important;
}
.react-datetimerange-picker__clock {
  border-radius: 4px;
  box-shadow: 0 30px 40px 0 rgba(16, 36, 94, 0.2);
  font-family: inherit;
  width: 220px;
  height: 220px;
  padding: 20px;
  border: 0;
  border-top-left-radius: 0;
}
.react-datetimerange-picker__clock .react-clock__second-hand {
  transition: transform cubic-bezier(0.68, 0, 0.27, 1.55) 0.2s;
}
.react-datetimerange-picker__clock .react-clock__second-hand__body:before {
  width: 5px;
  height: 5px;
}
.react-datetimerange-picker__clock .react-clock__second-hand__body:after {
  width: 15px;
  height: 15px;
}
.react-datetimerange-picker__wrapper {
  padding: 2px;
}
@media screen and (max-width: 600px) {
  .react-datetimerange-picker__wrapper {
    flex-wrap: wrap;
  }
}
.react-datetimerange-picker__inputGroup__input {
  padding: 0;
}
.react-datetimerange-picker__inputGroup__input--hasLeadingZero {
  padding-left: calc(1px +  0.54em);
}
.react-datetimerange-picker__inputGroup__input:nth-child(1) {
  padding-right: 2px;
}
.react-datetimerange-picker__inputGroup__input:nth-child(2) {
  padding-left: 2px;
  padding-right: 2px;
}
@media screen and (max-width: 600px) {
  .react-datetimerange-picker__inputGroup__input:first-child {
    width: 100%;
  }
}
.react-datetimerange-picker__clock {
  border-top-right-radius: 0;
}
