.center {
  margin: 0 auto;
  // padding-top: 80px;
  position: relative;

  @media (min-width: 768px) {
    width: 80%;
  }

  @media (min-width: 1024px) {
    width: 40%;
  }

  .center-module {
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}
