.center {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 80px;

  @media (min-width: 768px) {
    width: 80%;
  }

  @media (min-width: 1024px) {
    width: 40%;
  }

  .center-module {
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.moss-background {
  background-color: lighten($moss, 15%);
  height: 100vh;
}
