.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 150px 30px 50px;
  min-height: 100vh;
  margin: 0 auto;

  &.column {
    @include for-tablet-up {
      width: 80%;
    }

    @include for-desktop-up {
      width: 50%;
    }
  }

  &.full {
    @include for-desktop-up {

    }
  }

  .center-module {
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
  }
}

.top {
  justify-content: flex-start;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.moss-background {
  background-color: $moss-background;
}
