nav *:focus {
  outline: none;
}

nav {
  padding: 15px;
  position: fixed;
  top: 0;
  z-index: 5;

  &.dark {
    background-color: $eggplant;
  }

  .nav-logo {
    background-image: url('/img/logo_white.png');
    width: 150px;
    height: 35px;
    top: 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.nav-links__inner {
  display: none;

  a {
    font-size: 22px;
    letter-spacing: 0.5px;
    font-family: $bebas-bold;
    margin-right: 25px;
    text-decoration: none;
    color: #FFF;
    padding-bottom: 2px;
    position: relative;

    &:hover {
        &:after {
        border-bottom-width: 5px;
        bottom: -4px;
      }
    }

    &:after {
      position: absolute;
      width: 100%;
      bottom: -2px;
      left: 0;
      content: '';
      border-bottom: solid 3px $linen;

      .dark & {
        display: none;
      }
    }
  }

  @media (min-width: 1025px) {
    display: flex;
  }
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 3px 5px 0 0;
  overflow: visible;
  z-index: 6;

  *:focus {
    outline:none;
  }

  @media (min-width: 1025px) {
    display: none;
  }
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 30px;
  height: 10px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 5px;
  background-color: #FFF;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: /*translate3d(10px, 0, 0)*/ rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -8px, 0) rotate(-90deg);
}

.menu {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: lightgrey;
  top: -15px;
  left: -15px;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    margin-bottom: 10px;
    font-size: 30px;
  }
}

.menu.is-active {
  display: flex;
}
