.profile {
  ul {
    text-align: center;
  }

  li {
    margin: 10px auto;
  }

  .artist-image {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;

    @include for-tablet-up {
      width: 150px;
      height: 150px;
    }
  }
}

.paypal-container {
  margin: 0 auto 30px;
  display: inline-flex;
  align-items: center;
  height: 35px;

   p {
    margin: 0 10px 0px 0;
    width: 100%;
    display: block;
  }
}
