.sessions {
  font-family: "Arial";
  position: relative;

  h2 {
    font-weight: bold;
    margin: 20px 0;
  }

  ul {
    width: 100%;
    text-align: left;
  }

  li {
    margin-bottom: 30px;
  }

  .username {
    @include nunito-bold;
    font-size: 1.15rem;
    margin-bottom: 5px;

    & + p {
      margin-bottom: 15px;
    }
  }

  .soon {
    border: solid 1px red;
  }

  .small-button:first-of-type {
    margin-left: 0;
  }
}

.edit-session-modal {
  .small-button {
    align-self: flex-start;
    margin-left: 0;
  }

  .button {
    margin: 20px 0;
  }
}

.view-session  {
   h4 + p {
    margin: 10px 0 20px !important;
  }

  .small-button {
    margin-top: 10px;
  }
}

.paypal-button.paypal-button-color-black {
  background: $plum !important;
}
