.sessions {
  font-family: "Arial";
  position: relative;

  h2 {
    font-weight: bold;
    margin: 20px 0;
  }

  ul {
    width: 100%;
    text-align: left;
  }

  li {
    margin-bottom: 15px;
  }

  .username {
    text-transform: capitalize;
    margin-bottom: 5px;
  }

  .soon {
    border: solid 1px red;
  }

  .small-button:first-of-type {
    margin-left: 0;
  }
}

.edit-session-modal {
  .small-button {
    align-self: flex-start;
    margin-left: 0;
  }

  .button {
    margin: 20px 0;
  }
}
