#session-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;

  #session-widgets {
    position: absolute;
    top: 80px;
    right: 15px;
    display: flex;
    z-index: 10;

    div {
      font: 400 11px $nunito;
      background-color: $blush;
      height: 30px;
      padding: 0 7px 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;

       p {
         color: #FFF;
         text-transform: uppercase;
         letter-spacing: $letter-spacing-s;
       }

      &#help {
        margin-right: 10px;
      }
    }
  }

  &.preview,
  &.help {
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &.preview .session-content {
    width: 90%;
    margin: 0 auto;
    position: relative;

    p {
      text-align: center;
    }
  }

  h1 {
    position: absolute;
  }

  button {
    @extend %action-button;
    text-transform: uppercase;
    width: 100%;
    padding: 10px;
    border: 0;
    margin: 15px auto;
    background-color: $blush;
    color: #FFF;

    &:hover {
      opacity: 0.75;
    }
  }

  &.single-session button,
  &.double-session button {
    margin: 0 auto;
  }

  &.preview {
    @media screen and (min-width: 767px) {
      width: 40%;
      margin: 0 auto;
    }

    #local-media {
      margin-bottom: 10px;
    }
  }

  video {
    width: 100%;
    transform: scale(-1, 1);
  }

  #local-media,
  #remote-media {
    background-color: $moss;
    display: flex;
  }

  &.single-session video {
    width: 100vw;
    height: 100vh;
  }

  &.single-session video,
  &.double-session video {
    object-fit: cover;
  }

  &.double-session video {
    height: 100%;
  }

  &.double-session .video-container > div,
  &.double-session #remote-media {
    height: 50vh;
  }

  &.single-session .session-content,
  &.double-session .session-content {
    width: 100vw;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }

  @media screen and (min-width: 768px) {
    &.double-session .video-container {
      display: flex;
      flex-direction: row;
    }

    &.double-session .video-container > div,
    &.double-session #remote-media {
      width: 50vw;
      height: 100vh;
      overflow: hidden;
    }

    video {
      height: 100%;
    }
  }
}

#session-help-modal {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
}

#chat-drawer {
  position: absolute;
  width: 75vw;
  height: 100vh;
  right: 0;
  background-color: $moss;
  z-index: 11;

  & * {
    box-sizing: border-box;
  }
}

.chat-exit {
  height: 50px;
  display: inline-block;
  width: 100%;

  p {
    margin: 10px 10px 0;
    text-align: left;
  }
}

.unread {
  border: solid 1px red;
}

.chat-messages {
  width: 100%;
  background: white;
  height: calc(100% - 150px);
  padding: 10px;
  overflow: scroll;

  li {
    margin-bottom: 10px;
  }
}

.chat-compose {
  height: 100px;
  width: 100%;
  padding: 15px;
  background: gray;
  display: flex;
  align-items: flex-start;

  #session-container & button {
    width: 90px;
    align-self: flex-start;
  }

  textarea {
    margin-right: 10px;
    width: calc(100% - 130px);
    height: calc(100% - 30px);
    font-size: 21px;
    box-sizing: border-box;
    padding: 10px;
  }
}
